footer {
  padding-top: 64px;
  background-color: black;
  & .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & button {
      width: 185px;
      height: 48px;
      border-radius: 6px;
      background: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;

      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;

      white-space: nowrap;
      text-align: center;
      color: #000000;
    }
  }
  & .logo {
    width: 112px;
  }
}
