.skils {
  & .container {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  & li {
    display: flex;
    gap: 24px;
  }

  & .thumb {
    width: 48px;
    height: 48px;
    align-items: center;
    justify-content: center;
  }
  & .inths {
    background: #ffcfb3;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }

  & .pusf {
    flex-shrink: 5;
  }

  & .withall {
    display: flex;
    justify-content: center;
  }
  & .title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
  }
  & .text {
    margin-top: 12px;
  }
}
